

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div class="container">
    <h3>Lençóis Paulista</h3>
    <h4>20°</h4>
    <h5>Parcialmente Nublado</h5>
    <h5>Máx.:24°  Mín.:14°</h5>
  </div>

  <ion-card>
    <ion-card-header>
      <div>
        <div>

        </div>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-item >
        <h6>PREVISÃO PARA 10 DIAS</h6>
      </ion-item>


  <ion-item>
    <ion-label>
      <div>
        <span>Hoje</span>
        <span >Máx.:26°</span>
        <span class="azul2">Min.:22°</span>
          <span class="azul2"><ion-icon class="icone" name="sunny-outline"></ion-icon>Ensolarado</span>
      </div>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <div>
        <span>Sex.</span>
        <span >Máx.:31°</span>
        <span class="azul2">Min.:16°</span>
          <span class="azul2"><ion-icon class="icone" name="sunny-outline"></ion-icon>Ensolarado</span>
      </div>

    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
     <div>
        <span>Sab.</span>
        <span >Máx.:26°</span>
        <span class="azul2">Min.:22°</span>
          <span><ion-icon class="icone" name="partly-sunny-outline"></ion-icon>Nublado</span>
      </div>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
     <div>
        <span>Dom.</span>
        <span >Máx.:26°</span>
        <span class="azul2">Min.:22°</span>
          <span class="azul2"><ion-icon class="icone" name="partly-sunny-outline"></ion-icon>Nublado</span>
      </div>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
     <div>
        <span>Seg.</span>
        <span >Máx.:26°</span>
        <span class="azul2">Min.:22°</span>
          <span class="azul2"><ion-icon class="icone" name="partly-sunny-outline"></ion-icon>Nublado</span>
          <span></span>
      </div>
    </ion-label>
  </ion-item>
    </ion-card-content>
  </ion-card>



</ion-content>
